:root {
  --general-text: #312C27;
  --title-text: #1F1711;
  --general-bg: #FFF9F4;
  --accent-bg: #FFE0CB;
  --accent-color: #FFA55C;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background-color: var(--general-bg);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}


/* =========================================================================== */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 358px;
  height: 62px;
  width: 100%;
  padding: 15px;
  background: var(--accent-color);
  border-radius: 50px;
  font-weight: 500;
  line-height: 1.6;

  transition: all .4s;
}

.button:hover {
  background-color: #FF9138;

}

/* =========================================================================== */
.header {
  background: url(/img/decor/bg-header.png) 50% 100% / cover no-repeat;
}

.header__top {
  padding: 19px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  z-index: 11;
  max-width: 174px;
}

.header__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 4vh 40px;
}

.nav__link {
  display: block;
  padding: 5px 0px;
  position: relative;
  z-index: 1;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  background-color: var(--accent-color);
  border-radius: 50%;

  opacity: 0;
  transition: all .4s;
}

.nav__link:hover:before {
  opacity: 1;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
}

.burger-menu__line {
  width: 100%;
  height: 3px;
  background-color: var(--general-text);
  transition: all 0.3s ease;
}

/* =========================================================================== */


.header__hero {
  padding: 29px 0 140px;
}

.hero__inner {
  display: flex;

}

.hero__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 10vw;
  margin-top: auto;
}

.hero__info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  color: #B197B2;
  text-transform: uppercase;
}

.hero__circle {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #B197B2;
  border-radius: 50%;
}

.hero__title {
  font-family: Gabriola;
  font-size: 74px;
  line-height: .82;
  max-width: 520px;
  padding-bottom: 30px;

}

.hero__text {
  max-width: 360px;
  padding-bottom: 40px;
}

/* =========================================================================== */

.hero__preview {
  position: relative;
}

.hero__preview>img {
  width: 100%;
}

.hero__preview-control {
  position: absolute;
  bottom: 11%;
  left: calc(100% - 39px);
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
}

.hero__preview-control--mobile {
  display: none;
  text-align: left;
}

.hero__preview-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 78px;
  height: 78px;
  border-radius: 50px;
  background-color: #FFE0CB;
  box-shadow: 0 4px 20px #b8947e4d;
}

.hero__preview-button img {
  padding-left: 8.8px;
}

.hero__preview-button::before {
  content: '';
  position: absolute;
  width: 68px;
  height: 68px;
  border: 1px solid var(--accent-color);
  border-radius: 50px;

  opacity: 0;
  transition: all .4s;
}

.hero__preview-button:hover::before {
  opacity: 1;
}

/* =========================================================================== */

@media (max-width: 1250px) {
  .hero__preview-control {
    position: static;
    max-width: 400px;
    padding-top: 30px;
  }
}

@media (max-width: 900px) {
  .nav {
    position: fixed;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }

  .nav.active {
    background-color: #ffd8c0;
    inset: 0;
    z-index: 10;
    padding: 15vh 15px 30px;
    font-size: 24px;

    transform: translateY(0%);
    opacity: 1;
    visibility: visible;

    transition: all 0.4s;
    overflow: hidden;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .burger-menu {
    display: flex;
    z-index: 11;
  }

  .burger-menu.active .burger-menu__line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 13px);
  }

  .burger-menu.active .burger-menu__line:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active .burger-menu__line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -13px);
  }

}

@media (max-width: 800px) {
  .hero__inner {
    display: block;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
  }

  .hero__preview {
    display: none;
  }

  .hero__preview-control--mobile {
    display: flex;
    padding-bottom: 30px;
  }

  .hero__text {
    padding-bottom: 0;
  }
}

@media (max-width: 600px) {

  .header__hero {
    padding: 60px 0;
  }

  .hero__title {
    font-size: 12vw;
  }
}