:root {
  --general-text: #312C27;
  --title-text: #1F1711;
  --general-bg: #FFF9F4;
  --accent-bg: #FFE0CB;
  --accent-color: #FFA55C;
  --transition: All .4s;
  --border-radius: 20px;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background-color: var(--general-bg);
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.margin-bottom {
  margin-bottom: 8.2vw;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}


/* =========================================================================== */
.title {
  font-family: Gabriola;
  color: var(--title-text);
  font-size: 74px;
  line-height: .82;
  max-width: 520px;

}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 358px;
  height: 62px;
  width: 100%;
  padding: 15px;
  background: var(--accent-color);
  border-radius: 50px;
  font-weight: 500;
  line-height: 1.6;

  transition: var(--transition);
}

.button:hover {
  background-color: #FF9138;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: #00000048;
  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  transition: all .6s;
}

.modal__window {
  position: relative;
  background-color: var(--general-bg);
  border-radius: var(--border-radius);
  max-width: 428px;
  padding: 0px 60px 60px;
}

.modal__cancel {
  position: absolute;
  top: 20px;
  right: 20px;

}

.modal__cancel rect,
.modal__cancel path {
  transition: var(--transition)
}

.modal__cancel:hover rect,
.modal__cancel:hover path {
  stroke: #AC907A;
}

.modal__img {
  margin: -65px 0 15px 12px;
  max-width: 100%;
}

.modal__title {
  font-family: Gabriola;
  font-size: 42px;
  line-height: 0.9;
  margin-bottom: 10px;
}

.modal__text {
  margin-bottom: 30px;
}

.modal__form-label {
  margin-bottom: 10px;
}

.field {
  position: relative;
  display: block;
}

.field span {
  color: #AC907A;
  font-size: 11px;
  position: absolute;
  top: 12px;
  left: 28px;

  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.field-input {
  display: block;
  border-radius: 100px;
  border: 1px solid #AC907A;
  background-color: transparent;
  padding: 19px 28px;
  width: 100%;
  font-size: 16px;

  transition: var(--transition);
}

.field-input::placeholder {
  color: #AC907A;
  transition: var(--transition);
}


.field-input:hover,
.field-input:hover::placeholder {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.field-input:focus {
  padding: 26px 28px 12px;
}

.field-input:focus+span {
  opacity: 1;
  visibility: visible;
}


/* =========================================================================== */
.header {
  background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}


.header__top {
  padding: 19px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  z-index: 11;
  max-width: 174px;
}

.header__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 4vh 40px;
}

.nav__link {
  display: block;
  padding: 5px 0px;
  position: relative;
  z-index: 1;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  background-color: var(--accent-color);
  border-radius: 50%;

  opacity: 0;
  transition: var(--transition);
}

.nav__link:hover:before {
  opacity: 1;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
}

.burger-menu__line {
  width: 100%;
  height: 3px;
  background-color: var(--general-text);
  transition: all 0.3s ease;
}

/* =========================================================================== */


.header__hero {
  padding: 29px 0 140px;
}

.hero__inner {
  display: flex;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 10vw;
  margin-top: auto;
}

.hero__info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  color: #B197B2;
  text-transform: uppercase;
}

.hero__circle {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #B197B2;
  border-radius: 50%;
}

.hero__title {
  padding-bottom: 30px;

}

.hero__text {
  max-width: 360px;
  padding-bottom: 40px;
}

/* =========================================================================== */

.hero__preview {
  position: relative;
}

.hero__preview>img {
  width: 100%;
}

.hero__preview-control {
  position: absolute;
  bottom: 11%;
  left: calc(100% - 39px);
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
}

.hero__preview-control--mobile {
  display: none;
  text-align: left;
}

.hero__preview-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 78px;
  height: 78px;
  border-radius: 50px;
  background-color: #FFE0CB;
  box-shadow: 0 4px 20px #b8947e4d;
}

.hero__preview-button img {
  padding-left: 8.8px;
}

.hero__preview-button::before {
  content: '';
  position: absolute;
  width: 68px;
  height: 68px;
  border: 1px solid var(--accent-color);
  border-radius: 50px;

  opacity: 0;
  transition: var(--transition);
}

.hero__preview-button:hover::before {
  opacity: 1;
}

/* =========================================================================== */

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px 53px;
}

.about__preview {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  grid-row: 1 / -1;
}

.about__preview>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}

.about__preview-control {
  display: flex;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 25px;
  gap: 10px;
  background-color: #957b97e6;
  color: var(--general-bg);
  max-width: 300px;
  border-radius: var(--border-radius);
  padding: 20px 15px;
}

.about__preview-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 78px;
  height: 78px;
  border-radius: 50px;
  background-color: var(--general-bg);
}

.about__preview-button::before {
  content: '';
  position: absolute;
  width: 68px;
  height: 68px;
  border: 1px solid #CEAAD0;
  border-radius: 50px;

  opacity: 0;
  transition: var(--transition);
}

.about__preview-button:hover::before {
  opacity: 1;
}


.about__heading {
  margin-bottom: 30px;
}


.about__text {
  margin-bottom: 30px;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.about__item {
  display: flex;
  align-items: center;
  background-color: var(--accent-bg);
  border-radius: var(--border-radius);
  padding: 29px 24px;
  gap: 15px;
}

.about__item-img {
  border: 1px solid var(--general-text);
  border-radius: 50px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========================================================================== */


.program__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  gap: 30px 15px;
}

.program__title {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 40px;
}

.program__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.program__img img {
  width: 100%;
}

.program__action {
  max-width: 501px;
  display: grid;
  width: 100%;
  grid-template: repeat(3, auto) / 1.65fr 1fr;
  gap: 40px;
}

.program__discount {
  font-size: 20px;
  background: var(--accent-bg);
  border-radius: var(--border-radius);
  padding: 40px;
  grid-row: 1 / 3;
}

.program__discount-value {
  color: var(--accent-color);
  font-family: "Gabriola";
  font-size: 74px;
  line-height: .82;
  transform-origin: 0;
  margin: 0 0 7px 13%;

  animation: discount-grow 1.1s infinite alternate ease-in-out;
}

@keyframes discount-grow {
  0% {
    transform: scale(1);
    color: var(--accent-color);
  }

  100% {
    transform: translateX(3%) scale(1.1);
    color: #FF9138;
  }
}

.program__discount span {
  font-size: 16px;
  margin-left: 35%;
}

.program__price-text {
  color: #CEAAD0;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.program__price-value {
  color: var(--general-text);
  font-family: Gabriola;
  font-size: 32px;
  line-height: 0.9;
}

.program__price-value--large {
  font-size: 50px;
  color: var(--title-text);
}

.program__button {
  grid-column: 1/ -1;
  max-width: none;
}

.tab__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.tab__controls-link {
  display: block;
  border-radius: 100px;
  padding: 14px 30px;
  box-shadow: 0 4px 20px 0 #cec3b94d;
  white-space: nowrap;
  transition: var(--transition);
}

.tab__controls-link:hover {
  background-color: var(--accent-bg);
  box-shadow: 0 4px 20px 0 #cec3b94d;
}

.tab__controls-link--active {
  background-color: var(--accent-bg);
  box-shadow: 0 4px 20px 0 #cec3b900;
}

.tab-content {
  display: none;
}

.tab-content--show {
  display: block;
}

.accordion-list__item {
  margin-bottom: 30px;
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
}

.accordion-list__item:last-child {
  margin-bottom: 0;
}

.accordion-list__control {
  padding: 40px 30px;
  width: 100%;
  background-color: transparent;
  text-align: left;

  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}

.accordion-list__control-title {
  font-family: Gabriola;
  font-size: 42px;
  line-height: 0.9;
  color: var(--title-text);
}

.accordion-list__control-icon {
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
  background-color: var(--accent-color);
  transform: rotate(90deg);
}

.accordion-list__control:hover .accordion-list__control-icon path {
  fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-icon {
  background-color: var(--accent-color);
  transform: rotate(90deg);
}

.accordion-list__item--opened .accordion-list__control-icon path {
  fill: var(--general-bg);
}

.accordion-list__control-icon svg {
  margin-left: 2px;
}

.accordion-list__control-icon path {
  transition: var(--transition);
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.accordion-content {
  padding: 0 30px 40px 30px;
  display: flex;
  align-items: start;
  gap: 80px;
}

.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}

.accordion-content__title {
  line-height: 1.6;
  text-transform: uppercase;
  color: #CEAAD0;
  margin-bottom: 20px;
}


.accordion-content__item {
  margin-bottom: 20px;
  display: flex;
}

.accordion-content__item last-child {
  margin-bottom: 0;
}

.accordion-content__icon {
  width: 24px;
  height: 24px;
  border: 1px solid #CEAAD0;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  flex-shrink: 0;
}

.accordion-content__text {
  max-width: 274px;
}

/* =========================================================================== */
.footer {
  color: var(--general-bg);
  background-color: #AB8261;
  padding: 60px 0 60px;
}

.footer__inner {
  display: grid;
  gap: 40px 15px;
  justify-content: space-between;
  grid-template-columns: 0.9fr 0.9fr 1.1fr auto;
}

.footer__logo {
  margin-top: -30px;
  display: block;
  max-width: 240px;
}

.footer__logo-text {
  margin-bottom: 20px;
}

.footer__col-list {
  margin-top: -5px;
}

.footer__col-item {
  margin-bottom: 20px;
}

.footer__col-item:last-child {
  margin-bottom: 0;
}

.footer__col-link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.footer__col-link::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  background-color: var(--accent-color);
  border-radius: 50%;

  opacity: 0;
  transition: var(--transition);
}

.footer__col-link:hover:before {
  opacity: 1;
}

.footer__address-item {
  margin-bottom: 10px;
}

.footer__address-item:last-child {
  margin-bottom: 0;
}

.footer__address-item img {
  margin-right: 8px;
}

.footer__col-mumber {
  display: block;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;

  transition: var(--transition);
}

.footer__col-mumber:hover {
  color: var(--accent-color);
}

.footer__col-copy img {
  margin-right: 5px;
}

.footer__col-copy {
  margin-top: 47px;
  color: #DEC5B1;
}

.socials {
  line-height: 0;
}

.socials__list {
  display: flex;
  gap: 15px;
}

.socials__link path {
  transition: var(--transition);
}

.socials__link:hover path {
  fill: var(--accent-color);
}

/* =========================================================================== */
/* =========================================================================== */
/* =========================================================================== */

@media (max-width: 1250px) {

  .margin-bottom {
    margin-bottom: 10vw;
  }

  .hero__preview-control {
    position: static;
    max-width: 400px;
    padding-top: 30px;
  }

  /* ------------------------ */
  .program__top {
    flex-direction: column;
    align-items: stretch;
  }

  .tab__controls {
    justify-content: left;
    flex-wrap: wrap;
  }

  .program__img {
    display: flex;
    justify-content: end;
  }

  .program__img {
    display: none;
    visibility: hidden;
  }

  /* ------------------------ */

  .footer__inner {
    justify-content: space-between;
    grid-template-rows: auto auto;
    grid-template: repeat(2, auto) / repeat(3, auto);
  }

  .footer__col:last-child {
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media (max-width: 1100px) {

  .about__inner {
    grid-template-rows: none;
  }

  .about__preview {
    grid-row: auto;
  }

  .about__content {
    align-self: center;
  }

  .about__grid-inner {
    grid-column: -1 / 1;
  }

  /* ------------------------ */

  .accordion-list__control {
    padding: 25px 30px;
  }

  .accordion-list__control-title {
    font-size: 35px;
  }

  /* ------------------------ */

}

@media (max-width: 900px) {
  .nav {
    position: fixed;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }

  .nav.active {
    background-color: #ffd8c0;
    inset: 0;
    z-index: 10;
    padding: 15vh 15px 30px;
    font-size: 24px;

    transform: translateY(0%);
    opacity: 1;
    visibility: visible;

    transition: all 0.4s;
    overflow: hidden;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .burger-menu {
    display: flex;
    z-index: 11;
  }

  .burger-menu.active .burger-menu__line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 13px);
  }

  .burger-menu.active .burger-menu__line:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active .burger-menu__line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -13px);
  }

  /* ------------------------ */

  .program__action-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ------------------------ */

  .footer__inner {
    grid-template: none;
    justify-content: center;
    text-align: center;
  }

  .footer__col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__col:last-child {
    margin-top: -30px;
  }

  .program__bottom {
    display: block
  }
}


@media (max-width: 800px) {
  .hero__inner {
    display: block;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
  }

  .hero__preview {
    display: none;
  }

  .hero__preview-control--mobile {
    display: flex;
    padding-bottom: 30px;
  }

  .hero__text {
    padding-bottom: 0;
  }

  /* ------------------------ */

  .tab__controls {
    gap: 10px;
  }

  .tab__controls-link {
    gap: 10px;
    padding: 6px 20px;
  }

  .accordion-content {
    flex-direction: column;
    gap: 30px;
  }


  /* ------------------------ */

  .about__inner {
    grid-template: none;
  }

  .about__preview {
    max-width: 500px;
    justify-self: center;
  }

  .about__content {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header__hero {
    padding: 60px 0;
  }

  .title {
    font-size: 12vw;
  }

  /* ------------------------ */
  .program__title {
    text-align: center;
  }

  .program__top {
    text-align: center;
  }

  .tab__controls {
    justify-content: center;
  }

  /* ------------------------ */

  .about__preview-control {
    left: 0;
    bottom: 0;
    max-width: none;
    padding: 10px 15px;
    border-radius: 0;
  }

  .title {
    font-size: 12vw;
  }

  .about__grid {
    grid-template: none;
    gap: 20px;
  }

  .about__item {
    padding: 15px 24px;
  }

  /* ------------------------ */

  .accordion-list__item {
    margin-bottom: 20px;
  }

  .accordion-list__control {
    padding: 17px 15px;
  }

  .accordion-list__control-title {
    font-size: 28px;
  }

  /* ------------------------ */

  .program__action {
    grid-template-columns: none;
    justify-content: center;
  }

  .program__discount {
    justify-self: center;
  }

  .program__price-text {
    text-align: center;
  }

  .program__price-value {
    text-align: center;
  }

  .program__price-value--large {
    text-align: center;
    font-size: 46px;
  }
}

@media (max-width: 450px) {
  .margin-bottom {
    margin-bottom: 20vw;
  }

  /* ------------------------ */

  .modal__window {
    padding: 0px 15px 45px;
  }

  .modal__img {
    margin: -45px 0 15px 12px;
    max-width: 50%;
  }

  .modal__title {
    font-size: 35px;
  }

  /* ------------------------ */
  .accordion-content {
    padding: 0 20px 20px 20px;
  }

  .accordion-content__text {
    max-width: none;
  }
}